@import '../../../../assets/sass/variables.scss';
@import '../../../../assets/sass/mixin.scss';


.header {
    @include height($header-height);
    display: flex;
    align-items: center;
    background-color: $white;
    color: $header-txt;
    font-weight: $bold;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 1px solid $header-border;
    font-size: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
  }
