<p-dialog header="Appointment Request" [(visible)]="vissible" [style]="{width: '25vw'}" [baseZIndex]="10000"
    (onHide)="onClose()">
    <p>Patient: {{mailDetails.patientName}}</p>
    <p>Physician: {{mailDetails.physicianName}}</p>
    <p>Date: {{mailDetails.date}}</p>
    <p>Time: {{mailDetails.startTime}}</p>
    <p>Description : {{mailDetails.description}}</p>
    <p
        [ngClass]="{'acceptd': mailDetails.status ==='ACCEPTED','rejected': mailDetails.status ==='REJECTED', 'upcoming': mailDetails.status ==='Upcoming'}">
        {{mailDetails.status}}</p>
    <ng-template pTemplate="footer" *ngIf="mailDetails.status ==='PENDING'">
        <button pButton icon="pi pi-check" (click)="onAccept()" label="Accept" class="p-button-success"></button>
        <button pButton icon="pi pi-times" (click)="onReject()" label="Reject" class="p-button-danger"></button>
    </ng-template>
</p-dialog>