@import '../../../../assets//sass/variables.scss';

.sign-in-container{
    height: 100vh;
}

.btn-group{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.errorMsg {
    color: $red;
  }

::ng-deep mat-form-field{
    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }
}