<div class="sign-in-container auth-container">
    <h2 class="color">PMS</h2>
    <form class="auth-form">
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="Email address" [(ngModel)] = "loginDetails.email" name = "username" #username = "ngModel" required >
          </mat-form-field>
          <div *ngIf =  "(isControlInvalid(username) && username.errors?.required) || invalidEmail" class = "errorMsg">{{CONSTANT.requiredFieldMessage}}</div>
          <br>
        <mat-form-field appearance="outline" class="input-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" [(ngModel)] = "loginDetails.password" name = "password" required #password = "ngModel">
        </mat-form-field>
        <div *ngIf =  "(isControlInvalid(password) && password.errors?.required) || invalidPassword" class = "errorMsg">{{CONSTANT.requiredFieldMessage}}</div>
        <br>
        <p *ngIf = "invalidMessageFlag" class  = "errorMessage">{{CONSTANT.invalidLoginMessage}}</p>
        <br>
        <button mat-stroked-button color="primary" class="input-width bg-color white-color" (click) = "login()">Sign in</button>
        <div class="btn-group">
          <a mat-flat-button class="color" routerLink="/auth/forgot-password">Forgot password?</a>
          <a mat-flat-button class="color" routerLink="/auth/sign-up">Sign up</a>
        </div>
    </form>
</div>