<div>

    <div class="modal-header">
        <h4 class="modal-title">SIGN UP</h4>
        <div>
            <i class="fa fa-times closeIcon" (click)="activeModal.close()"></i>
        </div>
    </div>

    <div class="modal-body">
        <form [formGroup]="patientSignupForm" (ngSubmit)="onRegister()">
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>Title</mat-label>
                <!-- <input matInput placeholder="Title" formControlName="title"> -->
                <mat-select formControlName="title">
                    <mat-option  *ngFor="let title of titleOptions" [value]="title">{{title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>Role</mat-label>
                <!-- <input matInput placeholder="Title" formControlName="title"> -->
                <mat-select formControlName="role">
                    <mat-option  *ngFor="let role of roleOptions" [value]="role">{{role}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>Email id</mat-label>
                <input matInput placeholder="Email id" formControlName="emailId">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>Contact number</mat-label>
                <input matInput placeholder="Contact number" formControlName="contactNumber">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="input-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password">
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline" class="input-width">
                <mat-label>Confirm password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="confirmPassword">
              </mat-form-field>
              <br>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onRegister()" [disabled] = "patientSignupForm.invalid">Sign Up</button>
        <button type="button" class="btn btn-secondary" ngbAutofocus
          (click)="activeModal.close()">Close</button>
      </div>
</div>
