<div class="auth-container">
    <h2 class="color">SIGN UP</h2>
    <form class="auth-form">
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>First name</mat-label>
            <input matInput placeholder="First name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Email address">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Email id</mat-label>
            <input matInput placeholder="Email id">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Date of birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Contact number</mat-label>
            <input matInput placeholder="Contact number">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="input-width">
            <mat-label>Confirm password</mat-label>
            <input matInput placeholder="Password" type="Confirm password">
          </mat-form-field>
          <br>
        <button mat-stroked-button color="primary" class="input-width bg-color white-color">Sign up</button>
    </form>
</div>