
<div class="auth-container">
    <h2 class="color">Change password</h2>
    <form class="auth-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Old password</mat-label>
            <input matInput placeholder="Old password" type="password" formControlName="oldPassword">
          </mat-form-field>
          <br>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>New password</mat-label>
            <input matInput placeholder="New password" type="password" formControlName="newPassword">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="input-width">
            <mat-label>Confirm new password</mat-label>
            <input matInput placeholder="Confirm new password" type="password" formControlName="confirmNewPassword">
          </mat-form-field>
          <br>
        <button mat-stroked-button color="primary" class="input-width bg-color white-color">Change password</button>
    </form>
</div>