<ng-wizard [config] = "config">

  <ng-wizard-step [title]="'Vitals'" [description]="'Step 1 description'" >
    <app-visit-vitals></app-visit-vitals>
  </ng-wizard-step>

<ng-wizard-step [title]="'Diagnosis'" [description]="'Step 2 description'" >
  <app-visit-diagnosis></app-visit-diagnosis>
</ng-wizard-step>


<ng-wizard-step [title]="'Procedure'" [description]="'Step 3 description'" [canExit]="isProcedureValid()">
  <app-visit-procedure></app-visit-procedure>
</ng-wizard-step>


<ng-wizard-step [title]="'Medication'" [description]="'Step 4 description'"  >
  <app-visit-medication></app-visit-medication>
</ng-wizard-step>


</ng-wizard>

<router-outlet></router-outlet>