
<app-visit-details></app-visit-details>
<ng-wizard [config] = "config" class="wizardBlock">

  <ng-wizard-step [title]="'Vitals'" [description]="'Fill Vital Information'" >
    <app-visit-vitals></app-visit-vitals>
  </ng-wizard-step>

<ng-wizard-step [title]="'Diagnosis'" [description]="'Fill Diagnosis Information'" [canEnter]="isVitalsValid()">
  <app-visit-diagnosis></app-visit-diagnosis>
</ng-wizard-step>


<ng-wizard-step [title]="'Procedure'" [description]="'Fill Procedure Information'" [canEnter]="isDiagnosisValid()">
  <app-visit-procedure></app-visit-procedure>
</ng-wizard-step>


<ng-wizard-step [title]="'Medication'" [description]="'Fill Medication Information'"  [canEnter]="isProcedureValid()">
  <app-visit-medication (submitClick) = "submitVisit()"></app-visit-medication>
</ng-wizard-step>

</ng-wizard>

<router-outlet></router-outlet>