<div>
  <div class="modal-header">
    <h4 class="modal-title">Create Appointment</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="appointmentForm">
      <div>
        <label>Patient : </label>&nbsp;
        <p-dropdown [options]="listOfPatients" optionLabel = "name" formControlName = "patientName" [disabled]="disablePatient"></p-dropdown>
      </div>
      <br>
      <div>
        <label>Physican : </label>&nbsp;
        <p-dropdown [options]="listOfDoctors" optionLabel = "name" formControlName = "physcianName" [disabled]="disableDoctor" ></p-dropdown>
      </div>
      <br>
    </form>
  </div>

  <div class="modal-footer">
    <button (click)="createAppointment()">Submit</button>
    <button type="button" class="btn btn-outline-dark" ngbAutofocus
      (click)="activeModal.close('We did it!')">Close</button>
  </div>
</div>