/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { font-family: Roboto, "Helvetica Neue", sans-serif; }
@import './assets/sass/variables.scss';
.color {
    color:$deep-sky-blue2;
}

.bg-color{
    background-color:$deep-sky-blue2;
}

.white-color{
    color:white !important
}

.auth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-width{
    width: 100%;
}

.auth-form{
    width: 27%;
}

.errorMessage {
    color: $red;
  }


.right-margin-5{
    padding-right: 5px;
.mb-30{
margin-bottom: 3rem !important;
}