
@import '../../assets/sass/variables.scss';

.router-link-active {
    color: white;
    background: $deep-sky-blue2;
  }

  ::ng-deep mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: none;
  }
  
  ::ng-deep .mat-tab-label,
  .tab-label {
    opacity: 5 !important;
  }

  a{
    border: 1px solid $deep-sky-blue2;
    color: $deep-sky-blue2;
  }