<nav mat-tab-nav-bar class="tab-group">
    <a mat-tab-link routerLink="/layout/home/inbox" routerLinkActive="router-link-active" class="tab-label"> Inbox</a>
    <a mat-tab-link routerLink="/layout/home/scheduler" routerLinkActive="router-link-active" class="tab-label">Scheduler</a>
    <a mat-tab-link> History</a>
    <a mat-tab-link routerLink="/layout/home/patient" routerLinkActive="router-link-active" class="tab-label">Patient details</a>
</nav>
<div class="p-mt-4">
<router-outlet></router-outlet>
</div>