<div>
    <div class="modal-header">
        <h4 class="modal-title">Forgot Password</h4>
        <div>
            <i class="fa fa-times closeIcon" (click)="activeModal.close()"></i>
        </div>
    </div>

    <div class="modal-body">
        <input [(ngModel)]="email" placeholder="Enter your emailId">
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="forgotPassword()">Forgot Password</button>
        <button type="button" class="btn btn-secondary" ngbAutofocus
          (click)="activeModal.close()">Close</button>
    </div>
</div>
