/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { font-family: Roboto, "Helvetica Neue", sans-serif; }
@import './variables.scss';
@import './mixin.scss';

.color {
    color:$deep-sky-blue2;
}

.bg-color{
    background-color:$deep-sky-blue2;
}

.white-color{
    color:white !important
}

.auth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-width{
    width: 100%;
}

.auth-form{
    width: 27%;
}

.errorMessage {
    color: $red;
  }


.right-margin-5{
    padding-right: 5px;
}
.mb-30{
margin-bottom: 3rem !important;
}


.closeIcon {
  padding-top: 10px;
  padding-right: 5px;
  cursor: pointer;
}

.user {
    background-color: $theme-color !important;
}

.name {
    background-color: #D0D0D0;
    cursor: default !important;
    font-weight: $lbold;
}

.wizardBlock {
    .ng-wizard-main{
        overflow-y: scroll;
        height: calc(100vh - #{$visit-wizard-unusable-height} - 20px);
        max-height: calc(100vh - #{$visit-wizard-unusable-height} - 20px);
    }

    .ng-wizard-theme-arrows {
        ul.step-anchor {
            margin-bottom: 10px;


            li.active{
                a {
                    background-color: $deep-sky-blue2 !important;

                    &::after{
                        border-left: 30px solid $deep-sky-blue2 !important;
                    }
                }
            }

            li.done{
            
                a{
                    background-color: $surf-blue!important;
                }
                a:after{
                    border-left: 30px solid $surf-blue !important;
                }   
            }
        }
    }


    .ng-wizard-btn-prev, .ng-wizard-btn-next{
        background-color: $deep-sky-blue2 !important;
        border-color: $deep-sky-blue2 !important;
    }
    
    .ng-wizard-btn-group-extra{
        position: absolute;
        right: 0;
    }

    .align-right{
        float: right;
      
      }
  }