
$theme-color : #00B2EE;




// Background
$inbox-read-bg: #D0D0D0;
$calendar-selected-date-bg: #1874CD;
$header-bg: #00B2EE;

// Border Color
$inbox-message-border: #808080;
$calendar-date-border: #707070;

// Text Color
$inbox-read-txt: #303030;
$search-box-placeholder: #808080;

// Pie Chart
$pie-chart-completed: #FFA500;
$pie-chart-pending: #00B2EE;

//Colors
$deep-sky-blue2: #00B2EE;



// Others
$calendar-appointment-block: #82CFFD;