
$theme-color : #00B2EE;
$white : #ffffff;


// font weight
$light: 300;
$normal: 400;
$lbold: 500;
$xlbold: 600;
$bold: 700;

$header-height : 45px;
$footer-height : 30px;
$visit-info-height : 150px;
$visit-wizard-unusable-height : $header-height + $footer-height + $visit-info-height;

// Background
$inbox-read-bg: #D0D0D0;
$calendar-selected-date-bg: #1874CD;

// Border Color
$inbox-message-border: #808080;
$calendar-date-border: #707070;
$header-border: #00B2EE;

// Text Color
$inbox-read-txt: #303030;
$search-box-placeholder: #808080;
$header-txt: #00B2EE;
$footer-txt :  #00B2EE;

// Pie Chart
$pie-chart-completed: #FFA500;
$pie-chart-pending: #00B2EE;

//Colors
$deep-sky-blue2: #00B2EE;
$red : #FF0000;
$green: #7CFC00;
$surf-blue: #63D1F4;


// Others
$calendar-appointment-block: #82CFFD;